params {
    input = null
    stage = 'pre_lab'
    outdir = 'results'
    fairefier_checklist = "${projectDir}/tools/fairefier/FAIRe_checklist_v1.0.xlsx"
    context_qc_config = "${projectDir}/tools/context_qc/context_qc_config.json"
}

process {
    executor = 'local'
    errorStrategy = 'terminate'
    shell = ['/bin/bash', '-ue']
}

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
    overwrite = true
}
report {
    enabled = true
    file = "${params.outdir}/nextflow_report.html"
    overwrite = true
}
trace {
    enabled = true
    file = "${params.outdir}/trace.tsv"
    overwrite = true
}
dag {
    enabled = true
    file = "${params.outdir}/workflow_dag.html"
    overwrite = true
}
